{% extends 'base/base_auth.html' %}
{% load static %}

{% block title %}{{ page_title }}{% endblock %}

{% block auth_content %}
    <h2 style="color: #D9D9D9; text-align: center; margin-bottom: 30px;">
        {{ form_title }}
    </h2>

    <form method="POST">
        {% csrf_token %}
        <div class="row">
            {% for field in form.visible_fields %}
                <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                    <label for="{{ field.id_for_label }}" style="color:#D9D9D9; margin-bottom: 5px;">
                        {{ field.label }}
                    </label>
                    {{ field }}
                </div>

                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div>
            <button class="btn btn-success col-12" style="padding-top: 5px;" type="submit">
                {{ button_text }}
            </button>
        </div>
    </form>

    <p style="color: #D9D9D9; text-align: center; margin-top: 20px;">
        {{ footer_message }}
        <a href="{% url footer_link %}" style="color: #3498db;">{{ footer_link_text }}</a>
    </p>

{% endblock %}
